* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background: var(--bg-body);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --bg-body: #e1d4c9;
  --bg-container: #665f55;
  --bg-backdrop: #403f3dcc;
  --border-light: #c1b6ad;
  --border-dark: #665f55;
}

img {
  width: 100%;
}

.hide {
  display: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.page-title {
  font-size: 4rem;
  line-height: 125%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4rem;
  color: var(--text-dark);
}

.section-title {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section-title span {
  color: var(--text-accent);
  font-style: italic;
}

@media (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }

  .section-title {
    font-size: 6rem;
    line-height: 7.5rem;
  }
}

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--border-light);
  border-top: 5px solid var(--border-dark);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  width: 100%;
  background: #ffd5d5;
  color: #cd2c58;
  border-radius: 20px;
  padding: 20px;
}

.discount-price {
  text-decoration: line-through;
  opacity: 0.8;
  margin-right: 1rem;
  font-size: 2rem;
}

/* HEADER */

.header {
  padding: 2rem 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  background: var(--bg-body);
}

.nav-open {
  transform: translateX(0);
  visibility: visible;
}

.nav__links {
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.nav__links a {
  font-size: 3.2rem;
  line-height: 40px;
  font-weight: 600;
  color: var(--text-dark);
}

.nav__links li:last-child a {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.menu-link {
  display: none;
}

.hamburger {
  width: 44px;
  height: 44px;
  border: 1px solid var(--text-dark);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  position: relative;
  z-index: 3;
}

.hamburger div {
  width: 16px;
  height: 1.5px;
  background: var(--text-dark);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  transform-origin: 90%;
}

.hamburger-open div:first-child {
  transform: rotate(-40deg) translateX(-1px);
}

.hamburger-open div:last-child {
  transform: rotate(40deg) translateX(-1px);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.cart-bag {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-count {
  font-size: 14px;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .header__inner {
    position: unset;
    align-items: center;
  }

  .header__logo {
    position: unset;
  }

  .nav {
    position: unset;
    transform: translateX(0);
    visibility: visible;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__links {
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .nav__links a {
    font-size: 1.6rem;
    line-height: 2.4px;
    white-space: nowrap;
  }

  .nav__links li:last-child {
    display: none;
  }

  .menu-link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.6rem;
    line-height: 2.4px;
    font-weight: 600;
    color: var(--text-dark);
  }

  .menu-link img {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
  }
}

@media (min-width: 1024px) {
  .nav__links a {
    position: relative;
  }

  .menu-link {
    position: relative;
  }

  .nav__links a::after,
  .menu-link::after,
  .cart-bag::after {
    position: absolute;
    bottom: -2px;
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: var(--text-dark);
    display: block;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }

  .nav__links a:hover::after,
  .menu-link:hover::after,
  .cart-bag:hover::after {
    transform: scaleX(1);
  }
}

/* FOOTER */

#contacts {
  padding-top: 10rem;
  padding-bottom: 4rem;
  color: var(--text-light);
  font-weight: 600;
}

.footer__inner {
  background: var(--bg-container);
  border-radius: 4rem;
  padding: 6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__title {
  color: var(--text-light);
  margin-bottom: 4rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.twitter {
  background: url("../assets/images/icons/twitter-light.svg");
}

.instagram {
  background: url("../assets/images/icons/instagram-light.svg");
}

.facebook {
  background: url("../assets/images/icons/facebook-light.svg");
}

.social-link {
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-light);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;
}

.social-link > div {
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.footer__subtitle {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 4rem;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.contacts-link,
.address-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.contacts-link img,
.address-link img {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .footer__inner {
    padding: 10rem 6rem;
    gap: 10rem;
  }
}

@media (min-width: 1024px) {
  .footer__inner {
    flex-direction: row;
    align-items: center;
    padding: 10rem;
  }

  .footer__inner > div {
    flex: 1;
  }

  .social-link:hover {
    cursor: pointer;
    border: 1px solid var(--bg-body);
    background-color: var(--bg-body);
  }

  .social-link:hover .twitter {
    background: url("../assets/images/icons/twitter-dark.svg");
  }

  .social-link:hover .instagram {
    background: url("../assets/images/icons/instagram-dark.svg");
  }

  .social-link:hover .facebook {
    background: url("../assets/images/icons/facebook-dark.svg");
  }

  .contacts-link {
    position: relative;
    display: inline-flex;
  }

  .contacts-link::after {
    position: absolute;
    bottom: -2px;
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: var(--text-light);
    display: block;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

  .contacts-link:hover::after {
    transform: scaleX(1);
  }
}
